html {
    background-color: black;
}

body {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 80px;
}
header {
    height: 100px;
}

section {
    display: flex;
}

article {
    border: 1px solid white;
    flex: 50px;
}

.make {
    text-align: center;
}

.rectangle {
    margin: 40px;
    display: inline-block;
    width: 349px;
	height: 241px;
    background: red
}