body {
    background-color:black ;
    margin: 0px 80px;
    font-family: sans-serif;
    color: #FFF;
    
}

p {
    font-family: sans-serif ;
    color: #FFF;
}

.hat{
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
}

section {
    display: flex;
}

article {
    flex: 50px;
    border: 0px solid #fff;
    padding: 0px;
    margin: 0px;
}

/* Привет */
.heading {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;

}

.text {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 40px 360px ;

}

.about{
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 100px 40px 0px;

}

.developer {
    color: gray;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

/* Якоря в шапке сайта */
.links {
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-decoration:none;
    color: white;
}

/* Выравнивание текста */
.left {
    text-align: left;
} 
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.justify {
    text-align: justify;
}

.anchorlink {
    font-size: 14px;
    line-height: 3;
    padding: 10px; 
    border: 0px solid;
    background-color: transparent
}

.cv {
    font-size: 14px;
    padding: 5px 30px;
    margin: 0px 5px 0px 40px;
    line-height: 0.5;
    border: 0px solid #27AE60;
    background: var(--green-2, #27AE60);
}

.lm {
    font-size: 14px;
    padding: 5px 30px;
    margin: 5px;
    line-height: 0.5;
    border: 1px solid #fff;
    outline: none;
    text-decoration: none;
    background-color: transparent
}

.circle-image {
    border-radius: 50%;
    overflow: hidden;
    width: 500px;
}

.make {
    text-align: center;
}

.rectangle {
    
    margin: 40px;
    display: inline-block;

    width: 349px;
	height: 241px;
    background: #212121 ;
}
.greenlower {
    border-bottom:solid #27AE60;
}